---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { RESUME } from "@consts";

const collection = await getCollection("resume");

const sortedResume = collection.sort(
  (a, b) => a.data.priority - b.data.priority
);

const resume = await Promise.all(
  sortedResume.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={RESUME.TITLE} description={RESUME.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Some more cool stuff about me
      </div>
      <ul class="flex flex-col space-y-4">
        {
          resume.map((entry) => (
            <li class="animate">
              {/* {entry.data.section_name ? (
                <div>
                    <div class="font-bold text-black dark:text-white">
                    {entry.data.section_name}
                    </div>
                    {entry.data.subHeading && (
                    <div class="font-bold text-black dark:text-white">
                        {entry.data.subHeading}
                    </div>
                    )}
                </div>
              ) : (
                <div class="flex justify-between items-center">
                  <div class="font-normal text-black dark:text-white">
                    {entry.data.eInstitution}
                  </div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">
                    {entry.data.eStartDate} - {entry.data.eEndDate}
                  </div>
                </div>
                <span class="text-sm text-gray-500 dark:text-gray-400">
                  {entry.data.eDegree}
                </span>
                <div class="text-sm text-gray-500 dark:text-gray-400">
                    {entry.data.eLocation}
                </div>
              )} */}
              {entry.data.section_name ? (
                <div>
                  <div class="font-bold text-2xl text-black dark:text-white">
                    {entry.data.section_name}
                  </div>
                  {entry.data.subHeading && (
                    <div class="text-bold text-lg text-gray-700 dark:text-gray-300">
                      {entry.data.subHeading}
                    </div>
                  )}
                </div>
              ) : entry.data.subHeading ? (
                <div class="text-bold text-lg text-gray-700 dark:text-gray-300">
                  {entry.data.subHeading}
                </div>
              ) : (
                <div class="flex flex-col space-y-1">
                  <div class="flex justify-between items-center">
                    <div class="font-normal text-lg text-black dark:text-white">
                      {entry.data.eInstitution}
                    </div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">
                      {entry.data.eStartDate} - {entry.data.eEndDate}
                    </div>
                  </div>
                  <span class="text-sm text-gray-500 dark:text-gray-400">
                    {entry.data.eDegree}
                  </span>
                  <div class="text-sm text-gray-500 dark:text-gray-400">
                    {entry.data.eLocation}
                  </div>
                </div>
              )}
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
